<tr data-testid="book-row">
  <td class="px-6 py-4 whitespace-nowrap">
    <%= link_to book_row.title, book_path(book_row), class: "text-sm font-medium text-gray-900 hover:text-blue-600" %>
    <% if book_row.subtitle.present? %>
      <div class="text-xs text-gray-500"><%= book_row.subtitle %></div>
    <% end %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= book_row.genre %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <%= badge book_row.status.humanize, status: book_row.status.to_sym %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <%= book_row.formatted_word_count || "-" %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
    <%= link_to "View", book_path(book_row), class: "text-blue-600 hover:text-blue-800 mr-3" %>
    <%= link_to "Edit", edit_book_path(book_row), class: "text-gray-600 hover:text-gray-800" %>
  </td>
</tr>
